section{
    max-width:760px;
    padding: 0 20px;
    margin-bottom: 30px;
}
figure{
    margin: 0;
}
img{
    max-width: 100%;
}
p{
    font-size: 1.7rem;
    line-height: 2.8rem;
}
span{
    display: inline-block;
}
.s-title-a{
    margin-bottom: 30px;
}
@media screen and (max-width:600px) {
    p{
        font-size: 1.5rem;
        line-height: 2.4rem;
    }
}
.catch{
    border: solid 1px #595757;
    padding:20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
   
    &.aspect{
        aspect-ratio: 10/4;
        .catch--inner{
            h3{
            width: 80%;
            margin-bottom: 20px;    
            }
            font-size: 1.8rem;
        }
    }
    p{font-size: 1.7rem;}
    @media screen and (max-width:600px) {
        padding:15px;
        p{font-size: 1.5rem;}
        &.aspect{
            .catch--inner{
                font-size: 1.6rem;
            }
        }
    }
}
.yoyaku-note{
    h4{ font-size: 2.0rem; margin-bottom: 30px; font-weight: normal;}
    font-size: 2.0rem;
    line-height: 2.4rem;
    margin-bottom: 30px; 
    strong{ font-weight: normal; color: #E60012; }
    @media screen and (max-width:600px) {
        font-size: 1.5rem;
    }
}
ul.dotto{
    li{
        padding-left: 25px;
        position: relative;
        margin-bottom: 10px;
        &::before{
            content: '●';
            position: absolute;
            left: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.app-banner{
    margin: 30px 0;
    background: #5185C5;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    .item{
        flex-basis: 49%;
    }
    .item:nth-child(2){
        display:flex;
    }
    .app-title{
        width: 100%;
        height: 100%;
        position: relative;
        img{
            width: 85%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .store-links{
        box-sizing: border-box;
        padding: 5px;
        text-align: center;
        .qr{
            margin:10px 30px;
        }
    }
    @media screen and (max-width:600px) {
        &.a{
            .app-title{
                width: 100%;
                aspect-ratio: 10/4;
            }
            display: block;
            .store-links{
                .qr{display: none;}
            }
        }
        &.b{
            padding:30px 20px;
            .item:nth-child(2){
                flex-basis: 55%;
            }
            .store-links{
                .qr{display: none;}
            }
        }
    }
}
.app-qr{
    border: solid #5185C5 1px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    figure{
        width: 500px;
        max-width: 100%;
    }
}
.yoyaku-information{
    margin-bottom: 30px;
    background:#D9EDFA;
    position: relative;
    padding: 80px 20px 10px;
    border-radius: 5px;
    text-align: center;
    
    font-weight: bold;
    p{
        font-size: 1.6rem;
    } 
    .small{
        font-size: 1.3rem;
    }
    h3{
        font-size: 2.2rem;
        margin-bottom: 5px;
    }
    h2{
        text-align: center;
        border-radius: 5px 5px 0 0;
        background: rgba(81, 133, 197, 0.2);
        font-size: 2.0rem;
        color:#5185C5;
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
           height: 24px;
        }
    }
    a{
        margin: 20px auto;
        width: 70%;
        display: block;
        &:hover{
           opacity: (0.8);
        }
    }
    @media screen and (max-width:600px) {
        h2{
            img{
                height: 14px;
            }
        }
        h3{
            font-size: 1.8rem;
        }
        .small{
            font-size: 1rem;
        }
        p{
            font-size: 1.3rem;
        }
        a{ 
            width: 90%;
        }
    }
}

.s-title-b{
    background: #5185C5;
    color: #fff;
    text-align: center;
    padding:30px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.yoyaku-step{
    li{
        dl{ margin-bottom: 40px; }
        dt{
            padding-left: 65px;
            font-size: 2.3rem;
            font-weight: bold;
            color: #5185C5;
            margin-bottom: 30px;
            position: relative;
            &::before{
                content: '';
                width: 60px;
                height: 60px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &:nth-child(1){
            dt::before{
                background: url('../images/yoyaku/icon_01.webp') no-repeat;
                background-size: 100% 100%;
            }
        }
        &:nth-child(2){
            dt::before{
                background: url('../images/yoyaku/icon_04.webp') no-repeat;
                background-size: 100% 100%;
            }
        }
        &:nth-child(3){
            dt::before{
                background: url('../images/yoyaku/icon_03.webp') no-repeat;
                background-size: 100% 100%;
            }
        }
        &:nth-child(4){
            dt::before{
                background: url('../images/yoyaku/icon_04.webp') no-repeat;
                background-size: 100% 100%;
            }
        }
        &:nth-child(5){
            dt::before{
                background: url('../images/yoyaku/icon_05.webp') no-repeat;
                background-size: 100% 100%;
            }
        }
        &:nth-child(6){
            dt::before{
                background: url('../images/yoyaku/icon_02.webp') no-repeat;
                background-size: 100% 100%;
            }
        }
        &:nth-child(7){
            dt::before{
                background: url('../images/yoyaku/icon_06.webp') no-repeat;
                background-size: 100% 100%;
            }
        }
    }
    @media screen and (max-width:600px) {
        li{
            dt{
                font-size: 1.8rem;
            }
        }
    }
}

.youtube{
    width: 100%;
    aspect-ratio: 10/6;
    position: relative;
    iframe{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}